/* common sheard style */
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.color-primary {
  color: #00b4d8;
}
.btn-primary {
  border-radius: 5px;
  background: #00b4d8;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  text-align: center;
}

/* header related style */
.header {
  background-color: #caf0f8;
}

/* nav related style  */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
  width: 100%;
  /* position: sticky;
  background-color: #caf0f8; */
}
.nav-logo {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
  cursor: pointer;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 5px;
}
nav li a:hover {
  background-color: #00b4d8;
  padding: 15px 20px;
  border-radius: 5px;
}
nav a {
  text-decoration: none;
  color: #474747;
  /* background-color: #181818; */
  padding: 15px 20px;
}
/* banner related style */
.banner {
  height: 100vh;
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 85%;
  margin-left: 50px;
}

.banner-text {
  max-width: 500px;
}
.banner-greeting {
  font-size: 45px;
  font-weight: 700;
  color: #474747;
}
.profile-pic {
  width: 500px;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
}
.banner-description {
  margin-bottom: 20px;
}
.download-btn {
  margin-right: 30px;
  font-weight: 400;
}
.banner-photo {
  height: 60vh;
}

/* main section style */

main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
}
/* about section style started */

.about {
  border-radius: 10px;
  background: #e5f8fc;
  padding: 120px;
  margin: 130px 0;
}
#about-title {
  padding-bottom: 30px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
  text-align: center;
}
.info-title {
  padding-bottom: 10px;
}
/* about section style ended */

/* what i do section style started */
#what-i-do-description {
  padding: 30px 150px;
}
.skill-container {
  display: flex;
  /* justify-content: space-around; */
  gap: 24px;
}
.skill {
  /* width: 22%; */
  background-color: #e5f8fc;
  box-shadow: 0px 0px 10px 2px lightgray;
  border-radius: 5px;
  text-align: center;
}
.skill > img {
  padding: 10px;
}
.skill-title {
  padding-bottom: 10px;
}
.skill-discription {
  padding: 10px 33px 30px 33px;
  text-align: justify;
}

/* what i do section style ended */

/* Summary of My Resume section style started */
#summery-title {
  padding-bottom: 30px;
}
.resume-main-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-container {
  display: flex;
  gap: 50px;
}
.resume-item {
  padding: 20px 0;
}
.resume-institute {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
}
.resumi-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.resume-btn {
  padding-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}
/* Summary of My Resume section style started */

/* footer related style started */
.footer-container {
  display: flex;
  min-height: 780px;
  justify-content: space-around;
  /* gap: 50px; */
  background-color: #e5f8fc;
  padding-top: 200px;
}
.contact-title {
 
  padding-bottom: 20px;
}
.contact-description {
  max-width: 562px;
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.contact-icon{
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  font-size: 2rem;
}
.item{
  text-align: center;
  padding: 10px;
}
.lets-comment > label{
  display: block;
  padding: 24px 0px;
}
.lets-comment > label input{
  padding: 10px 20px;
  width: 450px;
  height: 65px;
  border: none;
 
}
.lets-comment textarea{
  width: 450px;
  padding: 20px;
  border: none;
}
.comment-btn{
  padding-top: 24px;
}